<md-button class="md-button-toggle" ng-click="toggle()" aria-controls="docs-menu-{{section.name}}"
           aria-expanded="{{isClosed()}}">
    <div flex layout="row"> {{section.name}}
        <span flex></span>
        <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : isClosed()}">
            <md-icon md-svg-src="md-toggle-arrow"></md-icon>
        </span>
    </div>
</md-button>

<ul id="docs-menu-{{section.name}}" class="menu-toggle-list" ng-hide="isClosed()">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul>
